.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: orange;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    font-family: "Montserrat", sans-serif;
}

.heading span.space{
    background: none;
}

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.book .row .image{
    flex: 1 1 10rem;
}

.book .row .image img{
    width: 100%;
}

.book .row form{
    flex: 1 1 10rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    max-width: 600px;
    width: 100%;
    background: #fff;
}

.book .row form .inputBox{
    padding: 1rem 0;
}

.book .row form .inputBox input{
    width: 100%;
    padding: 0.6rem;
    /* border: 1rem solid rgba(0,0,0, .1); */
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: #333;
    text-transform: none;
}

.book .row form .inputBox h3{
    font-size: 1.2rem;
    padding: 0.2rem 0;
    font-family: "Lato", sans-serif; 
}

.btn2{
    all:unset;
    background-color: #004953;
    color: #ACE1AF;
    padding: 13px 16px;
    border-radius: 1.4rem;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif; 
}

