@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.slider {
    position: relative;
    width: 100%;
    padding-top: 0;
}

.myslider {
    height: 700px;
    display: none;
    overflow: hidden;
    position: relative;
}

.myslider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: scale(1.5, 1.5); */
    animation-name: zoomin;
    animation-duration: 40s;
    filter:opacity(0.7);
}

@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.2, 1.2);
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
}

.arrow:hover {
    fill: #3498db;
}

.right {
    right: 0;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
}

.active,
.dot:hover {
    border-color: #3498db;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.text {
    position: absolute;
    text-align: center;
    /* color: #fff; */
    /* letter-spacing: 2px; */
    line-height: 35px;
    top: 40%;
    left: 32%;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 32%;
    }
}

.text h1 {
    color: #042d1f;
    font-size: 9.5rem;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

.text p {
    color: #210601;
    font-weight: 500;
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.btn{
    all: unset;
    padding: 7px 18px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #004953;
    transition: transform 0.3s ease-in-out;
}

button a{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ACE1AF;

}

button a:hover{
    color: #90EE90;
}

.btn:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .myslider {
        height: 500px;
    }
    .text {
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: posi2;
        animation-duration: 2s;
    }

    @keyframes posi2 {
        from {
            top: 35%;
        }
        to {
            top: 50%;
        }
    }
    .text h1 {
        font-size: 40px;
    }
    .text p {
        font-size: 13px;
    }
}

@media screen and (max-width: 520px) {
    .text h1 {
        font-size: 30px;
    }
}
